---
import Intersecting from "@components/common/Intersecting.vue";
import ImageGallery from "./ImageGallery.astro";
import TextMedia from "./TextMedia.astro";
import RecentItems from "./RecentItems.astro";
import RichText from "./RichText.astro";
import Features from "./Features.astro";
import AnnoyingPopup from "./AnnoyingPopup.astro";
import PricingTable from "./PricingTable.astro";
import Faqs from "./Faqs.astro";
import StatsCounter from "./StatsCounter.astro";
import Testimonials from "./Testimonials.astro";
import TrustBadges from "./TrustBadges.astro";
import HomeExperience from "@components/home/HomeExperience.astro";
import ServicesExperience from "@components/pages/ServicesExperience.astro";
import AboutExperience from "@components/pages/AboutExperience.astro";
import SupportExperience from "@components/pages/SupportExperience.astro";

const { slot, ...props } = Astro.props;

const customExperienceComponents = [
  "HomeExperience",
  "ServicesExperience",
  "AboutExperience",
  "SupportExperience",
];
---

{props.component === "HomeExperience" && <HomeExperience {...props} />}
{props.component === "ServicesExperience" && <ServicesExperience {...props} />}
{props.component === "AboutExperience" && <AboutExperience {...props} />}
{props.component === "SupportExperience" && <SupportExperience {...props} />}

{
  props.component !== "AnnoyingPopup" && !customExperienceComponents.includes(props.component) && (
    <Intersecting
      client:visible
      className={` ${props?.style?.surface || ""} ${
        props?.style?.block_class ? props.style.block_class : "py-8 sm:py-20"
      }`}
    >
      {props.component === "ImageGallery" && <ImageGallery {...props} />}
      {props.component === "TextMedia" && <TextMedia {...props} />}
      {props.component === "RecentItems" && <RecentItems {...props} />}
      {props.component === "RichText" && <RichText {...props} />}
      {props.component === "Features" && <Features {...props} />}
      {props.component === "PricingTable" && <PricingTable {...props} />}
      {(props.component === "Faq" || props.component === "Faqs") && <Faqs {...props} />}
      {props.component === "StatsCounter" && <StatsCounter {...props} />}
      {props.component === "Testimonials" && <Testimonials {...props} />}
      {props.component === "TrustBadges" && <TrustBadges {...props} />}
    </Intersecting>
  )
}

{
  props.component === "AnnoyingPopup" && (
    <div class="popup_wrap">
      <AnnoyingPopup {...props} />
    </div>
  )
}
